
body#main, html {
     /* Full height */
    height:100%;
    overflow:hidden;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: transparent;
    background-image: url("../img/bg-clear-sky.jpg");
}

div#container {
    justify-content: space-between;
   
}
@media only screen
and (min-width : 529px){
    #container {
        padding:20vh 5vh 0 5vh; 
    }
}
@media only screen
and (max-width : 529px) {
    div.row.innerrow{
        padding:0;
        width:100%;
    }
}
div#holder {
    background-color: rgba(255, 255, 255, 0.6);
    width: 70%;
    max-height: 80%;
    overflow:hidden;
    border-radius: 10px;
    margin:auto;
}
div.controls {
    display: none;
}
div.innerrow {
    /* flex-basis: 50%; */
    padding: 1vh 1vw 1vh 1vw;
    margin:0 2% 0 2%;
}
div.innerrow:last-of-type{

}
i.wi-degrees {
    font-size: 2em;
    display: inline-block;
}
i.wi-degrees:before {
    position: relative;
    top: -.2em;
}
h1#weather {
    vertical-align: top;
    display: inline-block;
}

button#unit {
    color: white;
    font-size: 1.5em;
    padding: 1.5vh 2.5vw 1vh 2vw;
}

div#local-weather-text {
    padding-bottom: 5vh;
}
span#google-map {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
span#icon>img {
    width: 25%;
    height: auto;
}
span.temp-unit {
    display:inline-block;
    font-size: 2em;
    margin-top: .5em;
    padding-top: .3em;
}