
body#main, html {
    height: 100%;
     /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    background: lightblue;
}

#container {
        padding-top:260px;
}

#local-weather {
    position: relative;
    opacity: 0.4;
    z-index: 3;
}

.wi-celsius,.wi-fahrenheit {
    font-size: 3em;
    margin: 5px 5px 2px 0px;    

}
.wi-degrees {
    display:inline-block;
    font-size: 4.3em;
}

.btn {
    padding: 0px 0px 0px 0px;
    position: relative;
    z-index: 5;
}

#weather {
    display:inline-block;
}

#signed{
    color: black;
    font-size: 1.4em;
}